body {
  color: #404040;
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-size: 22px;
  margin: 0;
  font-weight: 400;
  line-height: 20px;
  padding: 20px 2px;
}

a {
  color: #404040;
  text-decoration: none;
}

a:hover {
  color: #101010;
}

.popup {
  background-color: black !important;
}

.sidebar {

  width: 33.3333%;
  height: 100%;
  top: 0;
  left: 0;

}

.pad2 {
  padding: 20px;
}

.map {
  position: absolute;
  left: 33.3333%;
  width: 66.6666%;
  top: 0;
  bottom: 0;
}

.heading {
  background: #fff;
  border-bottom: 1px solid #eee;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
}

.listings {
  height: 100%;
  overflow: auto;
  padding-bottom: 60px;
}

.listings .item {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 10px;
  text-decoration: none;
  font-size: 10px;
}

.listings .item:last-child {
  border-bottom: none;
}

.listings .item .title {
  display: block;
  color: #00853e;
  font-weight: 700;
}

.listings .item .title small {
  font-weight: 400;
}

.listings .item .title:hover,
.listings .item.active .title {
  color: #8cc63f;
}

.listings .item.active {
  background-color: #f8f8f8;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #00853e;
  border-radius: 0;
}

.clearfix {
  display: block;
}

.clearfix::after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.marker {
  border: none;
  cursor: pointer;
  height: 36px;
  width: 36px;
  background-color: rgba(247, 23, 23, 0);
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 50%;
}

.tablink_button {
  background-color: #376235;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 7px;
  font-size: 10px;
  width: 16%;
  margin: 5px;
}

.page_title_container {
  background-color: white;
  color: black;
  border: none;
  outline: none;
  width: 16%;
  margin: 5px;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  /* padding: 45px 5px; */
  height: 100%;
  height: 50em;

}

#News {
  background-color: white;
  color: black;
}

#Contact {
  background-color: white;
}

#About {
  background-color: white;
  color: black;
}

#Test {
  background-color: white;
  color: black;
}

.filter_options_project {
  width: 100%;
  /* height: 100%; */
  /* max-height: 480px; */
  top: 0;
  left: 0;
  border: 1px solid;
  padding: 20px;
}

.filter_options {

  width: 100%;
  /* height: 100%; */
  top: 0;
  left: 0;
  /* border: 1px solid; */
  padding: 20px;
  overflow: scroll;
  max-height: 40em;
}

.filter_options_selections {
  overflow: scroll;
  /* height: 50%; */
  max-height: 110px;
  width: 200px;
  /* display: flex; */
  /* flex-wrap: wrap; */
  display: grid;
  position: relative;
  /* padding-left: 35px; */
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#paperContainer div a {
  display: block;
  color: #00853e;
  font-weight: 700;
}

.container_results {
  width: 50%;
  font-size: 16px;
  font-weight: 500;

}

#result_author_container {

  width: 100%;
  max-height: 250px;
  overflow: scroll;
}

label {
  margin-top: 10px;
}

.reset.button {
  margin-top: 1em;
  margin-bottom: 1em;
}

input[type="date"] {
  font-size: 20px;
}

.deliveryPage_content_box {
  width: 30%;
}

/*
*Buttons
*/
.centered {
  margin: 50px auto;
  text-align: center;
}

.button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.button {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 6px 20px;
  margin: 0;
  cursor: pointer;
  border: 1px solid #bbb;
  overflow: visible;
  font: bold 13px arial, helvetica, sans-serif;
  text-decoration: none;
  white-space: nowrap;
  color: #555;

  background-color: #ddd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(255,255,255,0)));
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  background-image: -o-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  background-image: linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));

  -webkit-transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -ms-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  background-clip: padding-box;
  /* Fix bleeding */
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
  text-shadow: 0 1px 0 rgba(255,255,255, .9);

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:hover {
  background-color: #eee;
  color: #555;
}

.button:active {
  background: #e9e9e9;
  position: relative;
  top: 1px;
  text-shadow: none;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
}

.button[disabled],
.button[disabled]:active,
.button[disabled]:hover {
  border-color: #eaeaea;
  background: #fafafa;
  cursor: default;
  position: static;
  color: #999;
  /* Usually, !important should be avoided but here it's really needed :) */
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  text-shadow: none !important;
}

/* Smaller buttons styles */

.button.small {
  padding: 4px 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button.large {
  padding: 8px 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button.blue {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,.2);

  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.3)), to(rgba(255,255,255,0)));
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
  background-image: -o-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
  background-image: linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
}

.button.blue {
  background-color: #269CE9;
  border-color: #269CE9;
}

.button.blue:hover {
  background-color: #70B9E8;
}

.button.blue:active {
  background: #269CE9;
}

#Test .filter_options_selections {
  max-height: 225px;
}

.getProject_container {
  color: black;
  flex: 1;
}

.getCollab_container {
  color: black;
  flex: 1;
}

.getPersonProject_container {
  flex: 1;
}

.filter-group {
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 600;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  border-radius: 3px;
  width: 120px;
  color: #fff;
}

.filter-group input[type=checkbox]:first-child + label {
  border-radius: 3px 3px 0 0;
}

.filter-group label:last-child {
  border-radius: 0 0 3px 3px;
  border: none;
}

.filter-group input[type=checkbox] {
  display: none;
}

.filter-group label {
  background-color: #3386c0;
  display: block;
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.filter-group input[type=checkbox] + label {
  background-color: #3386c0;
  text-transform: capitalize;
}

.filter-group input[type=checkbox] + label:hover,
.filter-group input[type=checkbox]:checked + label {
  background-color: #4ea0da;
}

.filter-group input[type=checkbox]:checked + label:before {
  content: '✔';
  margin-right: 5px;
}

.getPerson_container {
  margin-top: 1em;
  margin-bottom: 3em;
}

.getPersonProject_container {
  margin-top: 2em;
}

#News {
  border: 1px solid;
}

.searchBar_grouping {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 600px) {
  .map {
    top: -40px;
  }

  #News {
    border: 0;
  }

  .sidebar {
    width: 39%;
    font-size: 10px;

  }

  .filter_options {
    height: fit-content;
    padding: 5px;
  }

  .filter_options_selections {
    width: 100%;
    font-size: 10px;

  }

  input[type="date"] {
    font-size: 12px;
  }

  input#typeValue {
    width: 120px;
  }
}
