/*
================================
3DCart Style Sheet
by Infomart2000 Corp.
www.3dcart.com
================================
*/


/*********************************/
/*          CUSTOM STYLES        */
/*********************************/

.left {float:left;}
.right {float:right;}
.clear {clear:both;}
.round {border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.width100{width:100%;}
.w100{width:100%;}
.w80{width:80%;}
.w60{width:60%;}
.w70{width:70%;}
.w40{width:40%;}
.w30{width:30%;}
.w20{width:20%;}
.width50{width:50%;}
.ypad10{padding:10px 0px;}
.xpad10{padding:0px 10px;}
.txt-c{text-align:center !important;}
.hide{display:none;}
.relative{position:relative;}
.pad20{padding:20px;}

input:focus { outline-color:#000; outline-width:5px;}

::-moz-selection { background: #888; color: #fff; text-shadow: none; }
::selection { background: #888; color: #fff; text-shadow: none; }


@media only screen and (min-width: 320px) and (max-width: 980px) {
}

form{margin:0; padding:0;}

/*******************************************************************************************************/
/*          STYLES USED ON THE FRAME OF THE WEBSITE (HEADER, LEFT NAV, RIGHT NAV AND FOOTER)        */
/*******************************************************************************************************/
/*body:: Controls website background and any other text outside of a table without an associated style.*/
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	background:#000;
	font-weight: normal;
	padding: 0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

p{
	margin:1em 0;
}

.mainframe {
	width:1016px;
	padding:0px 8px;
	margin:0px auto 0px auto;
	background:#fff;
	position:relative;
	overflow:hidden;
}
/*store-name:: Store Name.*/
.store-name {
	font-family: Arial, Helvetica, sans-serif;
	font-size:36px;
	font-weight:900;
	line-height:44px;
	color:#336633;
	text-transform:none;
	display:block;
}
/*store-slogan:: Store Slogan.*/
.store-slogan {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #336633;
	font-weight: normal;
	text-transform: none;
	line-height:16px;
	display:block;
}
/*frame:: Controls the left and right column background.*/
.frame {
	border:1px solid #ccc;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

/*mod_bg:: Controls the left and right column modules background.*/
.mod_bg {margin-top:5px; margin-bottom:30px;}

/*menu-headers:: Controls the way the menu titles look. For example: Categories, Browse By Price, Top Sellers, etc.*/
.menu-headers {

font-family: Arial, Helvetica, sans-serif;
background: #ccc;
font-size: 11px;
color: #0c6333;
font-weight: 700;
text-transform: uppercase;
text-decoration: none;
padding: 0px 8px;
line-height: 20px;
text-align: left;
position: relative;
z-index: 1;

}

/*footer:: This style controls the text you type under global footer. Merchants usually use to add security logos, credit card logos, privacy notes, etc.*/
.footer {
	background:none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:400;
	line-height:16px;
	color: #ccc;
	text-align: left;
	padding:20px 0px 0px 0px;
	margin:0px 0px 10px 0px;
}
/*footerLinks:: Controls the way the Footer Links display in the Global Footer.*/
.footer a, .footer a:visited, .footer a:hover, .footer a:visited:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	text-decoration: underline;
}
/*icon:: Controls the way the menu icons display if they are being used.*/
.icon {
	font-size: 10px;
	font-weight: normal;
	color: #000;
}
/*top-sellers-star:: Controls the background image and style for the top ranking item star.*/
.top-sellers-star {
	width: 42px;
	height: 44px;
	line-height:44px;
	background: #000;
	position: absolute;
	top: 0px;
	right: -5px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: #fff;
	text-align:center;
}
/*ranking:: Controls the way the menu icons display if they are being used.*/
.ranking {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: 700;
	color: #000;
	padding: 0px;
	text-align: center;
	background: #000;
	height:24px;
	width:24px;
	line-height:24px;
	position: absolute;
	left:0px;
	top:0px;
}
/*menu-text:: Controls the way the menu (mailing list) text look on the frame.*/
.menu-text {
	font-size: 11px;
	color: #000;
}
/*price2:: Controls the way the product's price display in the top sellers and new releases sections.*/
.price2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #000;
	font-weight: 700;
}
A.cat, A.cat:visited {
	font-family: Arial, Helvetica, sans-serif;
	color: #231f20;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	text-decoration:none;
	padding: 0px 0px 0px 5px !important;
	line-height: 20px;
	display: block;
}
A.cat:hover, A.cat:visited:hover {
	color: #FFF;
	background: #b00312;
	text-decoration:none;
}

/*A:menu:: Controls the way the Links display in the top navigation before a user clicks or mouses over on them.*/
A.menu, A.menu:visited{
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0px 35px;
}
/*A:menu:over:: When a user passes their mouses over them.*/
A.menu:hover, A.menu:visited:hover{
	color: #000;
	text-decoration:none;
}
/*A:menu-bottom:: Controls the way the Links in the footer display before a user clicks or mouses over on them.*/
A.menu-bottom, A.menu-bottom:visited{
	font-family: Arial, Helvetica, sans-serif;
	color: #231f20;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	text-decoration:none;
}
/*A:menu-bottom:over:: When a user passes their mouses over them.*/
A.menu-bottom:hover, A.menu-bottom:visited:hover{
	color: #000;
	text-decoration:none;
}
/*A:link:: Controls the way Secondary Links display before a user clicks or mouses over on them.*/
A.link, A.link:visited{
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	text-decoration:none;
}
/*A:link:over:: When a user passes their mouses over them.*/
A.link:hover, A.link:visited:hover{
	color: #000;
	text-decoration:none;
}
/*******************************************************************************************************/
/*          STYLES USED THROUGHTOUT THE WEBSITE        */
/*******************************************************************************************************/

/*td:: Controls all text inside a table without and associated style.*/
td {
	color: #000000;
	text-decoration: none;
	word-spacing: normal;
	letter-spacing: 0px;
	line-height: 1.25em;
	font-size: 12px;
}
/*data:: Controls the font style of your content on all the pages.*/
.data {
	color: #676767;
	background: none;
	text-decoration: none;
	word-spacing: normal;
	letter-spacing: 0px;
	line-height: 1.25em;
	font-size: 12px;
	font-weight: 400;
}
/*alternative:: Controls the background color of the boxes used throughout the site.*/
.alternative {
	background: none;
	padding: 2px 2px 2px 2px;
	border: 1px solid #cdcdcd;
}
/*page_headers:: Controls the title of all your pages.*/
.page_headers {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: 900;
	margin: 0px;
	padding: 16px 0px 4px 0px;
	color: #CCC;
	line-height: 1.1em;
	text-transform:none;
}
/*titles:: Controls the Tiles  of sections within pages on the site such as (Specials, Feature Items, Items, Related Items).*/
.titles {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 36px;
	letter-spacing: 0px;
	color: #000000;
	margin:0px 0px 0px 0px;
	text-transform: none;
	padding:0px 0px;
	font-weight: 400;
	border-top: none;
	border-bottom: none;
	border-left: none;
	border-right: none;
	background: nonw;
	text-align:left;
	position:relative;
}
/*titles2:: Controls the titles on the view cart page*/
.titles2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #f8f8f8;
	color: #336633;
	padding:5px;
}
.titles3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	line-height: 41px;
	letter-spacing: 0px;
	color: #000;
	margin:0px 0px 0px 0px;
	text-transform: none;
	padding:0px 17px;
	font-weight: bold;
	border-top: none;
	border-bottom: none;
	border-left: none;
	border-right: none;
	background: #336633;
	text-align:left;
	position:relative;
}
/*price:: Controls the way the product's final price display throughout the site.*/
.price {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #1d5aee;
	font-weight: bold;
	letter-spacing: 0px;
}
/*error:: Controls the error messages*/
.error {
	font-size: 12px;
	font-weight: normal;
	color: #e10e04;
	text-decoration: none;
}
/*borders:: Controls the color of the line dividers used throughout the site.*/
.borders {
	color: #000;
	border: 0px solid #bebebe;
}
/*borders2:: Controls the color of the dotted line dividers used throughout the site.*/
.borders2 {
	border: 1px dotted #cccccc;
	border-style: none none dotted;
}
/*A:: Controls the way the all Links without an associated style display before a user clicks or mouses over them.*/
A, A:visited {
	font-family: Arial, Helvetica, sans-serif;
	color: #0000EE;
	font-style: normal;
	text-decoration: underline;
	font-weight: 400;
}
/*A:hover:: When a user passes  their mouse over them.*/
A:hover, A:visited:hover {
	color: #000;
	text-decoration: underline;
}
/*******************************************************************************************************/
/*   STYLES ONLY USED ON VIEW CART AND CHECKOUT PAGES      */
/*******************************************************************************************************/
/*checkout-headers:: Controls the titles of the sections on the checkout pages (Billing Information, Shipping Information etc)*/
.checkout-headers {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000;
	font-weight: bold;
}
/*steps:: Controls the way the steps on the checkout pages display.*/
.steps {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #cccccc;
}
/*steps_on:: Controls the way the step the customer is currently on displays on the checkout pages.*/
.steps_on {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #F00;
}
/*******************************************************************************************************/
/*   STYLES ONLY USED ON PRODUCT PAGES      */
/*******************************************************************************************************/
/*options-titles:: Controls the way the option titles display on the product page.*/
.options-titles {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #585C5F;
	padding:5px;
	border: 1px dotted #cccccc;
	border-style: dotted none dotted none;
}
/*item:: Controls the item description and item details text.*/
.item {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #231f20;
	font-weight: normal;
}

/*itemTitle:: Controls the name of the Product.*/
.item-title {
	font-size: 16px;
	color: #000;
	font-weight:bold;
}
/*price-info:: Controls the way the sub-prices display on the product page, the final price is controlled by the style called "price".*/
.price-info {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: #4f5052;
}
/*small-txt:: Controls the way the item id displays.*/
.small-txt {
	color: #afafae;
	text-decoration: none;
	text-align: left;
	letter-spacing: 0px;
	font-size: 10px;
	vertical-align:bottom;
}
/*availability-txt:: Controls the way the Availability of the product displays i.e. 'In Stock', 'Back Order'.*/
.availability-txt {
	color: #000;
	text-decoration: none;
	text-align: left;
	line-height: 1.2em;
	font-size: 11px;
	background-color: #000;
	padding: 0.2em;
	font-style: italic;
}
/*reward-title:: Controls the title of the Reward Points section.*/
.reward-title {
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	text-decoration: none;
	word-spacing: normal;
	text-align: left;
	letter-spacing: 7px;
	line-height: 10px;
	font-size: 16px;
}
/*******************************************************************************************************/
/*      FORM FIELDS & BUTTONS THROUGHOUT THE WEBSITE      */
/*******************************************************************************************************/
/*btn:: Controls the buttons, (ONLY if it is not using and image).*/
.btn {

font-size: 11px;
font-weight: 700;
color: #000;
font-family: Arial, Helvetica, sans-serif;
text-transform: none;
margin: 2px;
line-height: 24px;
text-align: center;
cursor: pointer;
border: none;
-webkit-transition: all .3s linear;
-moz-transition: all .3s linear;
transition: all .3s linear;
-webkit-appearance: none;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;

}

/*btn_over:: Controls the buttons when a user mouses over them, (ONLY if it is not using and image).*/
.btn_over {font-size:11px; font-weight:700; color:#fff; font-family: Arial, Helvetica, sans-serif; text-transform: none; margin:2px; line-height:24px; padding:1px 8px; text-align:center; cursor:pointer; border:none; -webkit-transition: all .3s linear; -moz-transition: all .3s linear; transition: all .3s linear; -webkit-appearance:none; background: #363; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}

/*txtBoxStyle:: Controls the text and style of the Text Boxes.*/
.txtBoxStyle {
	border: 1px solid #cdcdcd;
	background-color: #fefefe;
	font-weight: normal;
	font-size: 11px;
	color: #252525;
	line-height: 27px;
	height: 27px;
	padding: 1px 1px 1px 8px;
}
/*txtAreaStyle:: Controls the text and style of the Text Areas.*/
.txtAreaStyle {
	border: 1px solid #cdcdcd;
	background-color: #fefefe;
	font-weight: normal;
	font-size: 11px;
	color: #83827f;
}
/*txtSearch:: Controls the style of the Search Box, if different from txtBoxStyle.*/
.txtBoxSearch {
	height: 20px;
	color: #585C5F;
	font-size: 12px;
	border: none;
	padding: 3px 0px 0px 0px;
	margin: 0;
}
/*******************************************************************************************************/
/*   STYLES USED ONLY ON THE INVOICE        */
/*******************************************************************************************************/
/*invoice_table:: Controls the background color on your invoices*/
.invoice_table {
	background-color: #f9f8f8;
}
/*invoice_title:: Controls the way the title of the invoices look */
.invoice_title {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	background-color: #cbcaca;
	color: #4f4e4e;
}
img {
	border: none;
}
/*************************************************************/
/*          LEGACY STYLES: STYLES USED PRIOR TO v3.2         */
/*************************************************************/
/*font1:: Primary Screen Font */
.font1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
}
/*font2:: Secondary Screen Font */
.font2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000;
}
.font3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000;
}
.font4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #c32519;
}
/*top:: Controls the  Color of the top Bar*/
.top {
	background: none;
}
/*line:: Controls the  Color of the line below the top bar*/
.line {
	background: #fff url(images/BG_menu.gif) repeat-x;
}

/*********************************/
/*Frame*/
/*********************************/
#TS_items, #NR_items, #Category_items, #Brands_items, #Prices_items{}
#TS_items, #NR_items{}

.home-width{}
.home-width img{display:block; max-width:100%;}
.inner {width:980px; margin:0px auto;}

.header-area {padding:0px 0px 0px 0px; height:80px; position:relative; background:none;}
.logo {background:none; float:left; width:35%; margin:4px 0px; padding:0px 10px 0px 0px; height:72px; line-height:72px; text-align:left; position:relative; }
.logo a, .logo a:hover, .logo a:visited, .logo a:visited:hover{font-family: Arial, Helvetica, sans-serif; 	font-size:36px; font-weight:900; line-height:44px; color:#336633; text-transform:none; text-decoration:none !important;}
.logo img{padding:0; margin:auto 0; position:absolute; top:0px; bottom:0px; left:0px;}


#cart-area {
    padding: 10px 10px 0px 72px;
    border-style: none;
    background: url(images/shopping-trolley.jpg) no-repeat left center;
    line-height: 16px;
    display: block;
    color: #336633;
    font-size: 12px;
}
#cart-area:hover{color:#563179; text-decoration:underline;}

.welcome{margin:8px 0px; padding:0; line-height:18px; font-size:14px; color:#fff; font-weight:400; display:block; text-align:right;}
.welcome a{font-size:14px; line-height:18px; color:#fff; font-weight:400;}
.welcome a:hover{color:#336633; text-decoration: underline;}

.menu-links {height:6x;  padding:0; margin:0px 10px 5px 0; position:relative; z-index:1; overflow:visible;}
.menu-links ul{height:16px; padding:0px; margin:0px; float:left; width:100%; list-style:none; position:relative; z-index:1;}
.menu-links ul li{display:block; height:16px; line-height:16px; padding:0px; margin:0px; background:none; float:right; border:none;}
.menu-links ul li.div{display:block; width:1px; height:12px; line-height:12px; padding:0px; margin:2px 6px; background:#336633; float:right; border:none;}
.menu-links ul li a, .menu-links ul li a:visited{display:block; font-family: Arial, Helvetica, sans-serif; font-size:11px; line-height:16px; font-weight:400; color:#336633; text-transform:none; text-decoration:none; padding:0px 0px; display:block; -webkit-transition: all .2s linear; -moz-transition: all .2s linear; transition: all .2s linear;}
.menu-links ul li:hover a, .menu-links ul li:hover a:visited{text-decoration: underline; color:#000;}

.header-middle{width:65%; height:77px; margin:4px 0; float:right; padding:0 0 0 0;}

#search-area {width:100%; height:24px; margin:0px 0px; padding:0px 15px; border:none; background:none; line-height:24px; text-align:left; text-transform: none; font-weight:400;}
.search-box {padding:0px; margin:0px; height:24px; width:100%; border:none; background:#fff; position:relative; float:right;}
.btn-search {background: url(images/quicksearch.gif) no-repeat center center; width:25%; text-align:center; color:#000; font-size:12px; font-weight:400; border:0px; display:block; height:24px; line-height:24px; cursor:pointer; padding:0px; margin:0px; position:absolute; right:0px; top:0px; -webkit-transition: all .3s linear; -moz-transition: all .3s linear; transition: all .3s linear;}
.btn-search:hover{}
.search-text {font-family:Arial, Helvetica, sans-serif; font-size:12px; text-transform:none; font-weight:400; color:#000; width:74%; height:24px; line-height:20px; padding:1px 12px; border: 1px solid #aaa; margin:0px; background:#fff; position:absolute; left:0; top:0;}

/***************/

.bodycontainer {width:100%; background:#fff; position:relative; padding:10px 0px 8px 0px;}

#mainContainer {width:100%; padding:0 0 0px 0; margin:0px; min-height:400px; float:left;}
#leftContent {float:left; width:200px; background:none; margin:0px 12px 0px 0px; padding:0px 0px 30px 0px; position:relative;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#midContent {float:left; background:transparent; width:100%; padding:0px; margin:0px; min-height:400px; border:1px solid #ccc;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#midContent > *{padding:0 8px;}
#midContent img{}

#footerContainer {width:100%; margin: 10px auto 0; padding: 10px 0; border-top:1px solid #333333;}
.footerContent {width:100%; margin:0px auto;}
.footer-left{padding:0px; float:left; width:200px; margin-right:12px;}
.footer-right{padding:0px; float:right; width:788px; position:relative;}
.addressbar {float:left; width:630px; color:#000; font-size:11px;}

#footer-links2 {width:155px; padding:0; margin:5px 0px; float:right; background:none; position:relative;}
#footer-links2 ul{padding:0px; margin:0px; float:left; width:100%; list-style:none; position:relative; z-index:1;}
/* #footer-links2 ul li{display:block; height:14px; line-height:14px; padding:0px 0px 0px 5px; margin:0px; background: url(images/arrow.png) no-repeat left center; border:none;} */
#footer-links2 ul li a, #footer-links2 ul li a:visited{display:block; font-family: Arial, Helvetica, sans-serif; font-size:11px; line-height:14px; font-weight:400; color:#999; text-transform:none; text-decoration:none; padding:0px 0px; display:block; -webkit-transition: all .2s linear; -moz-transition: all .2s linear; transition: all .2s linear;}
#footer-links2 ul li a:hover, #footer-links2 ul li a:visited:hover{text-decoration: underline; color:#000;}

#mail-area {width:100%; margin:0px; float:left; margin-bottom:35px; line-height:40px; color:#000; font-size:18px; font-weight:700;}
#mail-area .mail-title{width:305px; float:left; font-size:18px; font-weight:700; color:#000; text-align:left; padding:0 0px 0 12px; line-height:40px; text-transform:uppercase;}
#mail-area form{float:left;}
#mail-area .mail-box{padding:0px; margin:0px 0px 0px 0px; width:370px; background:none; position:relative; float:left;}
#mail-area .mail-txt{font-family: "Times New Roman", Times, serif; font-size:18px; font-weight:400; font-style:italic; color:#fff; width:100%; height:40px; line-height:40px; padding:0px 40px 0px 12px; border: none; margin:0px 0px; background:#000; float:left; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
#mail-area .mail-btn{background: url(images/mail-btn.png) center center no-repeat; text-align: center; width:40px; border:none; display:block; height:40px; line-height:40px; cursor:pointer; padding:0px 0px 0px 0px; margin:0px 0px 0px 0px; -webkit-transition: all .3s linear; -moz-transition: all .3s linear; transition: all .3s linear; -webkit-appearance:none; position: absolute; right:0; top:0;}
#mail-area .mail-btn:hover {background: url(images/mail-btn2.png) center center no-repeat;}
#mail-area .subscribe{float:left; text-transform:none; font-size:12px; color:#000; margin-bottom:3px;}

.social{background:none; margin:0; padding:0px 0px; height:39px; width:100%; float:right;}
.social ul{background:transparent; margin:0px 0px; padding:0px; list-style:none; float:left;}
.social ul li{display:block; float:left; padding:0px;  text-align:left; height:39px; overflow:hidden;}
.social img{position:relative; top:0; display:block; float:left; height:39px; margin:0px 5px 0px 0px;}
.social img:hover{opacity:.7; top:0px;}


.copyright{}
.copyright, .copyright a{font-weight:400; font-family: Arial, Helvetica, sans-serif; text-transform:none; color:#3f4042; font-size:13px; line-height:24px; padding:0px; text-align:left;}

#FULL_CART{float:right; width:32%; border-style: solid; border-color: #ccc; border-width: 3px; border-bottom-width: 3px;}
#FULL_SOCIAL{float:right; width:26%;}
#FULL_PHONE{float:left; width:39%; color:#336633; font-size:12px; font-weight:700;}

.callus{font-size: 12.5px; font-weight:700; font-family: Arial, Helvetica, sans-serif; text-transform:none; color:#0c6333; text-indent: 26px;}
.phone{margin:3px 0; line-height:28px; font-size:24px; font-weight:700; background:url(images/telephone-symbol.jpg) no-repeat left center; padding-left:28px;}
.email{margin:0; line-height:16px; font-size:12px; font-weight:700; background:url(images/mail-to.jpg) no-repeat left center; padding-left:26px;}
.email a{line-height:16px; font-size:12px; font-weight:700; color:#336633;}

.delivery, .order_in{background:#ccc; height:20px; line-height:20px; text-transform:uppercase; color:#000; font-size:11px; letter-spacing:.25px; margin-bottom:5px;}
.delivery a, .order_in a{line-height:20px; text-transform:uppercase; color:#000; font-size:11px; letter-spacing:.25px;}
.delivery{float:left; width:59%; padding-left:48px; background:#ccc url(images/delivery.jpg) no-repeat 8px center;}
.order_in{float:right; width:40%; padding-left:25px; background:#ccc url(images/lock.jpg) no-repeat 5px center;}

.seals{margin:3px 0px; padding:0px; width:auto; height:44px; float:right;}
.seals ul{background:transparent; margin:0px; padding:0px; list-style:none; float:right;}
.seals ul li{display:block; float:right; padding:0px; margin:0px 0px 0px 0px; text-align:left;}
.seals ul li img {position:relative; display:block;}

/*********************************/
/*Top Sellers*/
/*********************************/

.Tsellers-section {float:left; width:140px; height:auto; margin:30px 10px 0px 10px; padding:0px 0px 0px 35px; background:none; position:relative; text-align:left;}
.Tsellers-section .products-price{color:#949599; font-weight:700; font-family: Arial, Helvetica, sans-serif; font-size:16px; text-align:left; line-height:18px; padding:0px 0px; margin:10px 0px 0px 0px; float:left; width:100%;}
.Tsellers-section .products-price span{color:#212121; font-weight:400; font-family: Arial, Helvetica, sans-serif; font-size:11px; text-align:left; line-height:12px; padding:0px 0px; margin:0px; float:left; width:100%;}
.Tsellers-section .products-info{font-size:11px; font-family: Arial, Helvetica, sans-serif; font-weight:400; color: #616161; text-align:left; text-transform: uppercase; line-height:16px; padding:0px; margin:0px 0px 0px 0px;}
.Tsellers-section .products-info2{font-size:11px; font-family: Arial, Helvetica, sans-serif; font-weight:400; color: #000; text-align:left; text-transform: uppercase; line-height:16px; padding:0px; margin:0px 0px 0px 0px;}
.Tsellers-section .products-info a, .Tsellers-section .products-info a:visited{font-size:11px; font-family: Arial, Helvetica, sans-serif; font-weight:700; color:#000; line-height:16px; text-transform: uppercase; text-decoration:none;}
.Tsellers-section .products-info a:hover, .Tsellers-section .products-info a:visited:hover{color:#616161; text-decoration: underline;}
.Tsellers-section .products-review{text-align:center; padding:0px 0px 0px 0px; float:left; width:100%;}
.Tsellers-section .products-review img {}

/*********************************/
/*Links*/
/*********************************/

.cat{margin:0px 0px; padding:0; list-style:none;}
.cat > *{padding:0px 5px;}
.cat li {text-align:left; margin:0px 0px 0px 0px; padding:0px; background:none; line-height:27px; border-top:1px solid#ccc;}
.cat li:first-child {border-top:none;}
.cat li a, .cat li a:visited{color:#336633; font-family: Arial, Helvetica, sans-serif; font-size:11px; font-weight:700; text-align:left; padding:0px 6px 0px 11px; line-height:27px; background:url(images/raquo.png) no-repeat left center; text-transform: none; display:block;}
.cat li a:hover, .cat li a:visited:hover{text-decoration:none; color:#000;}
.cat li.main {}

/*********************************/
/*HomePage*/
/*********************************/
.homepage_silder{width:100%; float:left; margin:0px 0px 20px 0px !important;}
.flex-control-nav{bottom:15px !important; z-index:10;}
.flex-control-paging li a{background-color:#cacaca !important;}
.flex-control-paging li a.flex-active{background-color:#0079bd !important;}
.flex-direction-nav a{line-height:40px;}

.promos{width:100%; float:right; margin:0px 0px 0px 0px; height:auto;}
.promos ul {margin:0; padding:0; list-style:none;}
.promos ul li{height: auto; width:31.25%; position: relative; padding:0; margin: 0px 0px 0px 3.125%; z-index: 1; float:left;}
.promos ul li:first-child{margin-left:0;}
.promos ul li img{display:block; width:100%;}

#HOME{}
#HOME .productBlockContainer{}
/* #HOME .productContainer, #CAT .productContainer, #SEARCH .productContainer, #PROD .productContainer, #HOME .product-container, #CAT .product-container, #SEARCH .product-container, #PROD .product-container{width:auto !important;} */

.feat-item-list{margin-bottom:45px;}

.product-container, .productContainer{margin:0; padding:0 8px;}
.product-container.middle-item, .productContainer.middle-item{padding:0 4px;}
.product-container.first-item, .productContainer.first-item{padding-left:0;}
.product-container.last-item, .productContainer.last-item{padding-right:0;}

.products-section {padding:7px; margin:35px auto 0px auto; width:221px; text-align:center; position:relative; background:none;}
.products-section .image-container{padding:10px; background:#fff; width:100%; border:1px solid #eae9e9; height:220px; position:relative;}
.products-section .image-container img{max-width:90%; max-height:200px; position:absolute; top:0; bottom:0; left:0; right:0; margin:auto;}
.products-section .content {position:relative; width:100%; margin:10px auto 10px auto; padding:0px 0px 0px 0px; background:none; overflow:hidden;}
.products-section .products-info{font-size:12px; font-family: Arial, Helvetica, sans-serif; font-weight:400; color:#231f20; text-align:center; line-height:16px; height:32px; overflow:hidden; padding:0px; margin:0px;}
.products-section .products-info a {font-size:12px; font-family: Arial, Helvetica, sans-serif; font-weight:400; color:#231f20; line-height:16px; text-transform:none;}
.products-section .products-info a:hover {color:#0079bd; text-decoration:none;}
.products-section .products-price{float:left; width:100%; font-size:12px; font-weight:700; color:#231f20; text-align:left; line-height:22px; height:22px; padding:0px 0px; margin:12px 0px; vertical-align:top;}
.products-section .products-price span{font-weight:400; text-decoration:line-through; vertical-align:top; padding:0 3px 0 0;}
.products-section .product-reviews{height:14px; line-height:14px; padding:0px 0px; margin:8px 0px 0px 0px; text-align:center; font-family: Arial, Helvetica, sans-serif; font-size:11px; float:left; width:100%; display:none;}
.products-section .product-reviews img{display:inline-block; vertical-align:top;}

.onsale {background:url(images/sale.png) no-repeat center center; width:54px; height:54px; line-height:54px; position:absolute; right:15px; top:15px; z-index:1; display:none; color:#fff; font-size:14px; text-align:center; font-family: Arial, Helvetica, sans-serif; font-weight:400; opacity:.95;}

/**************************/
/* Category Page */
/**************************/
#categoryHeader{margin-bottom:25px;}
#categoryFooter{margin-top:25px;}

.paging{height:18px; float:right; margin:30px 0px 10px 0px;}
.subcat_bg{padding:0px; margin:0px 10%; float:left; width:80%;}
.subcat_area{padding:5px 5px 20px 5px; margin:3px .5%; width:24%; border:2px solid #ccc; float:left;}
.subcat_img{background:#fff; width:100%; height:100px; margin:0px; position:relative;}
.subcat_img img{position:absolute; margin:auto; top:0; bottom:0; left:0; right:0; max-width:90%; max-height:90%;}
.subcat_link{text-align:center; height:28px;}
.subcat_link a{color:#363; background:#fff; font-weight:700; font-size:11px; line-height:14px; text-transform:none; display:block; overflow:hidden; width:90%;}
.subcat_link a:hover{text-decoration:none; color:#000;}

@media only screen and (max-width: 400px) {
    .subcat_area {
       padding:5px 5px 50px 5px;
    }
}

#CAT .product-container, #CAT .productContainer{margin:0; padding:0px; margin-top:5px; margin-bottom:5px;}
.cat_products-section {display: flex; flex-wrap: wrap;  border-bottom:1px dotted #363; padding-top: 5px; padding-bottom:5px;}
.cat_products-section .image-container{flex:1;padding:2%; margin:0px 0px 0px 0px; background:#fff; width:20%; border:none; height:90px; position:relative; float:left;}
.cat_products-section .image-container img{max-width:100%; max-height:100%; position:absolute; top:0; bottom:0; left:0; right:0; margin:auto;}
.cat_products-section .content {flex:2;position:relative; width:80%; margin:0px auto 0px auto; padding:0px 0px 0px 0px; background:none; overflow:hidden; float:left;}
.cat_products-section .products-info{font-size:11px; font-family:Arial, Helvetica, sans-serif; font-weight:400; color:#336633; text-align:left; line-height:14px; width:67%; overflow:hidden; padding:0px; margin:0px 1% 0px 0px; float:left;}
.cat_products-section .products-info .name a {font-size:11px; font-family:Arial, Helvetica, sans-serif; font-weight:700; color:#336633; line-height:14px; text-transform:none; display:block; text-align:left; padding-bottom:2px;}
.cat_products-section .products-info a:hover {color:#000; text-decoration:none;}
.cat_products-section .products-price{float:left; width:100%; height:42px; font-size:11px; font-weight:700; color:#336633; text-align: right; line-height:14px; padding:0px 0px; margin:0px 0px;}
.cat_products-section .products-price span{color:#336633; font-size:11px; font-weight:700; line-height:14px;}
.cat_products-section .products-info-right{float:right; width:32%; padding-top:2px; text-align:right;}
.cat_products-section .products-info-right label{font-size:10px; line-height:12px; color:#336633; text-align:left; font-weight:bolder; float:left;}
.cat_products-section .products-info-right input[type=text] {border:1px solid #336633; width:65px;}
.cat_products-section .products-info-right input[type=submit], .cat_products-section .products-info-right input[type=button] {margin-top:8px;}

#CAT #categoryFooter{border-top:1px dotted #363; border-bottom:1px dotted #363; padding:8px; width:80%; margin:0 auto; text-align:center;}
#CAT #categoryHeader{padding:8px; width:80%; margin:0 auto;}

.sort-by, .sort-by select{font-size:10px; font-weight:700; font-family:Arial, Helvetica, sans-serif; line-height:24px; height:24px;}

/**************************/
/* Listing Page */
/**************************/
.breadcrumbs {font-size:11px; padding:0 5px; color:#0000EE;}
#listing0 .button{margin:2px 0;}
#listing0 .header{border-bottom:none;}
#listing0 .page_headers{margin:0 0 10px 0;}

#listing0 .primary{width:100%; padding:0; margin:0 0  5px 0; text-align:left; float:left;}
#listing0 .secondary{width:100%; padding:0; margin:0 0 5px 0; float:right;}

#listing0 .cat_products-section{width:92%; border:none;}
#listing0 .cat_products-section .image-container{height:auto;}
#listing0 .cat_products-section .image-container > div{position:relative;}
#listing0 .cat_products-section .image-container > div a{position: initial !important;}
#listing0 .cat_products-section .image-container img{max-height: 200px; max-width: 200px;}
#listing0 .cat_products-section .products-info-right label{color:#F00;}
#listing0 .cat_products-section .products-info-right input[type=text]{margin-right:0;}

#listing0 .availabilityInfo, .product-id{font-size:13px; font-family:Arial, Helvetica, sans-serif; font-weight:400; color:#231f20; width:100%; margin:0 0 3px 0 !important;}
.product_availability{margin-bottom:0;}

.saleprice{background:url(/assets/images/sale-tag.png) no-repeat right center; padding-right:35px;}
.addl-images > div{width:100px; height:100px; border:1px solid #ccc; padding:8px; margin:0 0 0 20px; display:block !important; float:left; text-align:center;}
.addl-images > div:first-child{margin:0 0 0 0px;}
.addl-images a {display:block !important;}
.addl-images div img{width:84px !important; height:84px !important; max-width:none !important;; max-height:none !important; }

#realmediaBlock{margin:10px 0 0 0; display:block;}
#realmediaBlock object, .realmediavideo{width:460px; height:250px;}

#listing0 #divOptionsBlock{}
#listing0 #divOptionsBlock .container{width:100%;}
#divOptionsBlock .opt-sect{float:left; width:50%; padding-right:5%; margin-bottom:20px;}
#divOptionsBlock .opt-regular{float:left; width:25%; font-size:13px; font-weight:700; padding:5px;}
#divOptionsBlock .opt-field{float:right; width:75%;}
#divOptionsBlock .radio-format{background:none;}

#listing0 .pricingBlock{width:100%;}
.addToCartBlock .addcart-button input{padding:3px 10px;}
#listing0 .addToCartBlock{width:100%; border:none; background:none; float:left; padding:0px; text-align:right;}
.addToCartBlock .qtybox{width:100%; margin:0; text-align:right;}
.addToCartBlock .qtybox input{margin: 5px 10px;}
.addToCartBlock .addcart-button{width:auto; padding:0px; margin:0 0 0px 0; float:right; text-align:center;}
.addToCartBlock label {float:none; display: inline-block; width: auto; vertical-align: baseline;}

.extended_descriptionBlock h4{margin: 1em 0;}
.social-mediaBlock{margin:12px 0px 0px 0px; padding:12px 0px; border-top:1px solid #ccc; border-bottom:1px solid #ccc;}
.likebutton{float:left; margin-bottom:0px;}
.social-bookmarking{float:right; margin-bottom:0px;}
.social-bookmarking{padding:2px; width:auto;}

.extra_field{float:left; width:50%; padding:10px; text-align:center;}
#listing0 .extra_field .info{float:none;}

.qa_list{color:#000;}
.qa_list .q{position:absolute; left:0px;}
.qa_list .a{position:absolute; left:-10px;}
.qa_q{font-size:1.25em; font-weight:700;}
.qa_qa{padding-left:35px; position:relative;}
.qa_answers {padding-left:25px; position:relative; margin:10px 0px;}
.qaBlock .q-author{margin-top:5px;}

.breadcrumbsBlock ul{list-style:none;}




@media only screen and (min-width:240px) and (max-width:320px)
{
.home-width img {
    margin-left: 20%;
}


.home-width {
    float: left;
    width: 100%;
}


.home-width.width3 {
    float: left;
    margin-top: 8px;
    position: relative;
}
.home-width a {
  /* float: left; */
}
}

@media only screen and (min-width:321px) and (max-width:480px)
{



.home-width.width3 {
    float: left;
     margin-top: 0px;
    width: 100%;
}
.home-width a {
  /* float: left; */
}
}
@media only screen and (min-width:481px) and (max-width:640px)
{
.home-width a {
  /* float: left; */
}
}

/*****************Request For Quote CSS*************************/
.cato .title_am {
  float: left;
  margin-bottom: 6px;
  margin-top: 12px;
  width: 100%;
}


.cato input[type="radio"] {
    float: left;
    margin: 8px 0 0;
    padding: 0;
    width: auto;
}



.cato span2 {
    float: left;
    margin: 6px 0 0 17px;
    width: 95%;
}

.cato input[type="checkbox"] {
    float: left;
    margin: 8px 0 0;
    padding: 0;
    width: auto;
}


.form_contact {
    float: left;
    margin-top: 16px;
    width: 70%;
}
.form_contact > input {
  border: 1px solid;
  float: left;
  margin-left: 5%;
  margin-top: 12px;
  padding: 6px 0;
  width: 67%;
}
.form_contact label {
  float: left;
  margin-top: 17px;
  width: 17%;
}
.form_contact textarea {
  border: 1px solid;
  float: left;
  height: 122px;
  margin-left: 22px;
  margin-top: 19px;
  resize: none;
  width: 67%;
}


.cato p {
    margin: 9px 0 0;
}
.cato h2 {
  font-size: 19px;
  margin: 9px 0 0 -2px;
  font-weight:normal;
}
.form_contact  button {
  background: #000 none repeat scroll 0 0;
  border: medium none;
  border-radius: 4px;
  color: #fff;
  float: right;
  margin-bottom: 11px;
  margin-right: 10%;
  margin-top: 12px;
  padding: 12px 39px 11px 37px;
}

.cato .other_text {
    float: left;
    margin: 6px 0 0 17px;
    width: auto;
}

.input_other input {
  border: 1px solid;
  float: left;
  margin-left: 11%;
  margin-top: 14px;
  padding: 10px 0 42px;
  width: 64%;
}

.input_other {
  float: left;
  width: 51%;
}



span5 {
    color: #a80909;
    float: left;
    font-size: 21px;
}

.redio_title {
  float: left;
  width: 100%;
}

.redio_two {
  float: left;
  width: 100%;
}

.reido_three
{
  float: left;
  width: 100%;
}
.redio_four
{ float:left;
width:100%;

}

.chatIcon{
    position:relative;

}

@media screen and (max-width: 425px) {
   .chatIcon{
    position:relative;
        top: 450px;
    left: 130px;
}
}


@media screen and (max-width: 375px) {
   .chatIcon{
    position:relative;
        top: 450px;
    left: 100px;
}
}

@media screen and (max-width: 320px) {
   .chatIcon{
    position:relative;
        top: 450px;
    left: 70px;
}
}


#packingPrint{
    font-family: verdana, helvetica, sans-serif;

}

hr{
    border-width: 2px;
}



/* Tables
================================== */
.Rtable {

}
.Rtable-cell {

}
.Rtable-cell > h1,
.Rtable-cell > h2,
.Rtable-cell > h3,
.Rtable-cell > h4,
.Rtable-cell > h5,
.Rtable-cell > h6 {
  margin: 0;
}
/* Table column sizing
================================== */
.Rtable--2cols > .Rtable-cell {
  width: 50%;
}
.Rtable--3cols > .Rtable-cell {
  width: 33.33%;
}
.Rtable--4cols > .Rtable-cell {
  width: 25%;
}
.Rtable--5cols > .Rtable-cell {
  width: 20%;
}
.Rtable--6cols > .Rtable-cell {
  width: 16.6%;
}

/* Apply styles
================================== */
.Rtable {

  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0;
  position: relative;
  top: 3px;
  left: 3px;
}
.Rtable-cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  padding: 0.8em 1.2em;
  overflow: hidden;
  list-style: none;
  border: solid 3px white;
  background: rgba(112, 128, 144, 0.2);
  margin: -3px 0 0 -3px;
  background-color: white;
  border-color: #e2e6e9;
}
/* Cell styles
================================== */
.Rtable-cell--dark {
  background-color: slategrey;
  border-color: #5a6673;
  color: white;
}
.Rtable-cell--dark > h1,
.Rtable-cell--dark > h2,
.Rtable-cell--dark > h3,
.Rtable-cell--dark > h4,
.Rtable-cell--dark > h5,
.Rtable-cell--dark > h6 {
  color: white;
}
.Rtable-cell--medium {
  background-color: #b8c0c8;
  border-color: #a9b3bc;
}
.Rtable-cell--light {
  background-color: white;
  border-color: #e2e6e9;
}
.Rtable-cell--highlight {
  background-color: lightgreen;
  border-color: #64e764;
}
.Rtable-cell--alert {
  background-color: darkorange;
  border-color: #cc7000;
  color: white;
}
.Rtable-cell--alert > h1,
.Rtable-cell--alert > h2,
.Rtable-cell--alert > h3,
.Rtable-cell--alert > h4,
.Rtable-cell--alert > h5,
.Rtable-cell--alert > h6 {
  color: white;
}
.Rtable-cell--head {
  background-color: #055C29;
  border-color: #03441e;
  color: white;
}
.Rtable-cell--head > h1,
.Rtable-cell--head > h2,
.Rtable-cell--head > h3,
.Rtable-cell--head > h4,
.Rtable-cell--head > h5,
.Rtable-cell--head > h6 {
  color: white;
}
.Rtable-cell--foot {
  background-color: #b8c0c8;
  border-color: #a9b3bc;
}

/* Responsive
==================================== */
@media all and (max-width: 500px) {

.Rtable-cell{
font-size:12px;
}
  .Rtable--collapse {
    display: block;
  }
  .Rtable--collapse > .Rtable-cell {
    width: 100% !important;
  }
  .Rtable--collapse > .Rtable-cell--foot {
    margin-bottom: 1em;
  }
}
.no-flexbox .Rtable {
  display: block;
}
.no-flexbox .Rtable > .Rtable-cell {
  width: 100%;
}
.no-flexbox .Rtable > .Rtable-cell--foot {
  margin-bottom: 1em;
}

/*26/09*/

/* Content changes and tables
==============================*/
.deliveryPage_content_box{

  padding: 20px;

}
  .deliveryHeadings_titles {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 107%;
    font-family: Gadugi,
    sans-serif;
    color: #0C6333;
    background: white;
    border: 1pt none windowtext;
padding: 0cm;
text-decoration: underline;
  }

  .subdeliveryHeadings_titles {
    font-size: 13.0pt;
    line-height: 107%;
    mso-bidi-font-family: Arial;
    color: #333333;
    background: white
  }

  .content_box_paragraph {
   font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Gadugi", sans-serif;
    mso-bidi-font-family: Arial;
    color: #333333;
  }

  .content_box_Wrapper{
    -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  }
  .content_box_paragraph_flex {
    flex-grow: 1;
  flex-shrink: 1;
font-size: 13.3px;
line-height: 107%;
font-family: "Gadugi", sans-serif;
padding-right:5px;
  }

  .returnlist_container{
font-size: 1rem;
  line-height: 1.5rem;
  font-family: "Gadugi", sans-serif;

  }

  .returnList_table_container{
   font-size: 13.3px;
  line-height: 107%;
  font-family: "Gadugi", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content:
space-between;
  }

  .table_container_flex_left{
    flex-grow: 1;
  flex-shrink: 0;
font-size: 1rem;
line-height: 1.5rem;
margin-top: 50px;
font-family: "Gadugi", sans-serif;
padding-right:5px;
  }

	.table_container_flex_acts{
		flex-grow: 1;
	flex-shrink: 1;
	font-size: 13.3px;
line-height: 107%;
font-family: "Gadugi", sans-serif;
padding-right:5px;
	}

	.about_table_container{
		font-size: 13.3px;
    line-height: 107%;
    font-family: "Gadugi", sans-serif;
    display: flex;
	}

@media only screen and (max-width: 768px){
  	#about_list_resize{
      font-size: 8pt;
    }
		#contact_form_resize{
			font-size: 12pt;
		}
}
.Rtable--2cols > .Rtable-cell {
  width: 50%;
}

/* Iframe fix 
======================== */

  iframe.resp {
     border: 0;
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
  }

  /* Up arrow 
  ===================== */

  @media only screen and (min-width: 1025px){
	  #return-to-top{
		  background:#fff !important;
	  }

	  #return-to-top i {
		  color:black !important;
	  }
	}

  #return-to-top {
    position: fixed;
    bottom: 50px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
	top: 5px;
}
@media only screen and (min-width:766px) and (max-width:800px){

.icons-data{
	padding-top: 12px;
	display: block !important;

}

}

.fontStandard_resize{

    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Gadugi", sans-serif;

}
.videoWrapper {
    overflow: hidden;
    padding-top: 50.25%;
    position: relative;
  }
  
  @media only screen and (max-width: 768px) {
      .videoWrapper{
  padding-top: 56.25%;
      }
  }

h1{
line-height:1.5rem;
}


.productpage_productImage_resize{
	height: 200px;
	width: auto;
}


.rtable1 {
	/*!
// IE needs inline-block to position scrolling shadows otherwise use:
// display: block;
// max-width: min-content;
*/
	display: inline-block;
	vertical-align: top;
	max-width: 100%;
	overflow-x: auto;
	white-space: nowrap;
	border-collapse: collapse;
	border-spacing: 0;
}

.rtable1,
.rtable1--flip tbody {
	-webkit-overflow-scrolling: touch;
	background: radial-gradient(left, ellipse, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 0 center, radial-gradient(right, ellipse, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 100% center;
	background-size: 10px 100%, 10px 100%;
	background-attachment: scroll, scroll;
	background-repeat: no-repeat;
}

.rtable1 td:first-child,
.rtable1--flip tbody tr:first-child {
	background-image: linear-gradient(to right, white 50%, rgba(255, 255, 255, 0) 100%);
	background-repeat: no-repeat;
	background-size: 20px 100%;
}

.rtable1 td:last-child,
.rtable1--flip tbody tr:last-child {
	background-image: linear-gradient(to left, white 50%, rgba(255, 255, 255, 0) 100%);
	background-repeat: no-repeat;
	background-position: 100% 0;
	background-size: 20px 100%;
}

.rtable1 th {
	font-size: 11px;
	text-align: left;
	text-transform: uppercase;
	background: #055C29;
}

.rtable1 th {
	color: white;
	padding: 6px 12px;
	border: 1px solid rgb(68, 110, 65);
}

.rtable1 td {
	padding: 6px 12px;
	border: 1px solid rgb(68, 110, 65);
	text-align: center

}

.rtable1--flip {
	display: flex;
	overflow: hidden;
	background: none;
}

.rtable1--flip thead {
	display: flex;
	flex-shrink: 0;
	min-width: -webkit-min-content;
	min-width: -moz-min-content;
	min-width: min-content;
}

.rtable1--flip tbody {
	display: flex;
	position: relative;
	overflow-x: auto;
	overflow-y: hidden;
}

.rtable1--flip tr {
	display: flex;
	flex-direction: column;
	min-width: -webkit-min-content;
	min-width: -moz-min-content;
	min-width: min-content;
	flex-shrink: 0;
}

.rtable1--flip td,
.rtable1--flip th {
	display: block;
}

.rtable1--flip td {
	background-image: none !important;
	border-left: 0;
}

.rtable1--flip th:not(:last-child),
.rtable1--flip td:not(:last-child) {
	border-bottom: 0;
}

table.rtable1{
	background-image: linear-gradient(to right, white, white), linear-gradient(to right, white, white), linear-gradient(to right, rgba(0, 0, 20, .50), rgba(255, 255, 255, 0)), linear-gradient(to left, rgba(0, 0, 20, .50), rgba(255, 255, 255, 0));
  /* Shadows */
  /* Shadow covers */
  background-position: left center, right center, left center, right center;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
  background-attachment: local, local, scroll, scroll;
}

.imageWrap {
	display: flex;
	align-items: center;
	justify-content: center;
}

.imageWrap1 {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.imageWrap2 {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.imageWrap3{
	display: flex;
flex-direction: column; 
justify-content: center;
vertical-align: top;
text-align: center;
}

.fixed {

	width: 200px;
	margin-top: 5vh;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: "Gadugi", sans-serif;
   mso-bidi-font-family: Arial;
   color: #333333;
}

.item {
	/* flex: 1; */
	padding: 10px;
}

.fixed .Rtable .Rtable-cell{
	padding: 0.6em 0.1em;
	margin: -3px 0 0 -6px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
	color: #336633;
	font-size: 12px;

}

@media only screen and (max-width: 600px) {

#productWrapPage{
display: flex;
flex-direction: column; 
justify-content: center;
vertical-align: top;
text-align: center;
}

}

/*New alignment idea
*/
.col-text {
	height: 20em;
}

.grid-flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	flex-direction: row;
	-webkit-flex-direction: row;
	-webkit-flex-wrap: wrap;
	-webkit-justify-content: space-around;
}

.col {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.col-left {
	-webkit-box-ordinal-group: -1;
	-webkit-order: -1;
	-ms-flex-order: -1;
	order: -1;
}

.col-text {
	display: flex;
	align-items: center;
	justify-content: center;
}

.Aligner-item {
	width: 60%;
}

.col-image {
	background-size: cover;
	background-position: center center;
}

@media (max-width: 640px) {
	.grid-flex {
			height: 40em;
			display: -webkit-flex;
			-webkit-flex-direction: column;
			flex-direction: column;
	}

	.col {
			order: vertical;
	}

	.col-left {
			-webkit-box-ordinal-group: 0;
			-webkit-order: 0;
			-ms-flex-order: 0;
			order: 0;
	}

	.col-text div p {
			padding: 1em;
	}

	.Aligner-item {
			width: 90%;
	}
}


}

