body {
  color: #404040;
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-size: 22px;
  margin: 0;
  font-weight: 400;
  line-height: 20px;
  padding: 20px 2px;
}

a {
  color: #404040;
  text-decoration: none;
}

a:hover {
  color: #101010;
}

.sidebar {

  max-height: 500px;
  width: 33.3333%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: scroll;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.pad2 {
  padding: 20px;
}

.map {
  position: absolute;
  left: 33.3333%;
  width: 66.6666%;
  top: 0;
  bottom: 0;
}

.heading {
  background: #fff;
  border-bottom: 1px solid #eee;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
}

.listings {
  height: 100%;
  overflow: auto;
  padding-bottom: 60px;
}

.listings .item {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 10px;
  text-decoration: none;
  font-size: 10px;
}

.listings .item:last-child { border-bottom: none; }

.listings .item .title {
  display: block;
  color: #00853e;
  font-weight: 700;
}

.listings .item .title small { font-weight: 400; }

.listings .item.active .title,
.listings .item .title:hover { color: #8cc63f; }

.listings .item.active {
  background-color: #f8f8f8;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #00853e;
  border-radius: 0;
}

.clearfix { display: block; }

.clearfix::after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.marker {
  border: none;
  cursor: pointer;
  height: 56px;
  width: 56px;
  background-image: url(marker.png);
  background-color: rgba(0, 0, 0, 0);
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 50%;
}

.tablink_button {
  background-color: #376235;
color: white;
float: left;
border: none;
outline: none;
cursor: pointer;
padding: 8px 7px;
font-size: 10px;
width: 16%;
margin: 5px;
}

.page_title_container{
  background-color: white;
color: black;
border: none;
outline: none;
width: 16%;
margin: 5px;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}


#News {
  background-color: white;
  color: black;
}

#Contact {
  background-color: white;
}

#About {
  background-color: white;
  color: black;
}


.filter_options{

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 1px solid;
  padding: 20px;
}

.filter_options_selections{
  overflow: scroll;
  /* height: 50%; */
  max-height: 110px;
  width: 200px;
  /* display: flex; */
  /* flex-wrap: wrap; */
  display: grid;
  position: relative;
  /* padding-left: 35px; */
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#paperContainer div a{
  display: block;
  color: #00853e;
  font-weight: 700;
}

.container_results{
  width: 50%;
  font-size: 16px;
  font-weight: 500;


}

#result_author_container{

  width: 100%;
max-height: 250px;
  overflow: scroll;
}

label {
  margin-top: 10px;
}

.reset.button {
  margin-top: 1em;
  margin-bottom: 1em;
}

input[type="date"] {
  font-size: 20px;
}

.deliveryPage_content_box{
  width: 30%;
}